[Unit]
Description=Opensearch Production Deployment - Node 1
After=opensearch-net.network

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

[Container]
ContainerName=opensearch-node1
Environment=cluster.name=opensearch-cluster node.name=opensearch-node1 discovery.seed_hosts=opensearch-node1,opensearch-node2 cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2 bootstrap.memory_lock=true "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" OPENSEARCH_INITIAL_ADMIN_PASSWORD=Anubhav@321
Image=opensearchproject/opensearch:latest
Network=opensearch-net
PublishPort=9200:9200
PublishPort=9600:9600
Ulimit=memlock=68719476735:68719476735
Ulimit=nofile=65536:65536
Volume=opensearch-data1:/usr/share/opensearch/data
Volume=/opt/opensearch/config/opensearch.yml:/usr/share/opensearch/config/opensearch.yml:ro
