[Unit]
Description=Opensearch Production Deployment

[Container]
ContainerName=opensearch-dashboards
Environment=OPENSEARCH_HOSTS=["https://opensearch-node1:9200","https://opensearch-node2:9200"]
ExposeHostPort=5601
Image=opensearchproject/opensearch-dashboards:latest
Network=opensearch-net
PublishPort=5601:5601

[Install]
WantedBy=default.target
